<form type="get" action="." style="margin: 0">
    {{ filter_form.as_p }}
    <button id="filter_form_submit" type="submit" >Submit</button>
</form>
{% for appliance in appliances %}
<div style="float:left; width:290px; text-align:center;"><img src="{{ appliance.img_url }}" height="250px" /></div>
<div style="float:left;">
  Manufacturer: {{ appliance.manufacturer }}<br />
  Description:  {{ appliance.short_description }}<br />
  Color: {{ appliance.color }}<br />
  Model: {{ appliance.model_number }}<br />
  SKU:  {{ appliance.sku }}<br />
  Full Price: {{ appliance.full_price }}<br />
  Sale Price: {{ appliance.sale_price }}<br />
  {% if appliance.open_box_price == 0.00 %}
    Open Box Price: None
  {% else %}
    Open Box Price: {{ appliance.open_box_price }}
  {% endif %}
</div>
<div style="clear:both;">&nbsp;</div>
{% endfor %}
